/* ---------------- TAG STYLING ------------------ */

body {
  background-color: #fafafa;
  margin: 0;
  font-size: 12;
}
img {
  margin: 0;
  display: inline-flex;
  opacity: 75%;
}

h1 {
  color: #171717;
  font-family: "Bebas Neue", cursive;
  font-size: 64px;
}

h2 {
  color: #171717;
  font-family: "Bebas Neue", cursive;
  font-size: 32px;
}

p {
  color: #444444;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  margin-left: 16px;
}

/* ---------------- CLASS STYLING ------------------ */

.logo {
  margin: 16px;
  width: 100px;
  height: 100px;
}

.logo img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}
.text-block {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.header img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.app-background {
  background-image: url("../assets/bg.png");
  width: 100vw;
  height: 100vh;
}

.app-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (max-width: 720px) {
  .app-background {
    height: auto;
  }
}
