.container {
  display: grid;
  gap: 24px;
  text-align: center;
  justify-content: center;
  padding: 1rem 2rem;
  width: 888px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 432px auto;
}

.full-width-card {
  grid-column: 1 / span 2;
}

@media screen and (max-width: 720px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 432px 432px 432px;
  }
  .full-width-card {
    grid-column: auto;
  }
}
