.container {
  display: grid;
  gap: 24px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 1rem 2rem;
  width: 888px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 432px auto;
}

.full-width-card {
  grid-column: 1 / span 2;
}
