.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 1rem 2rem;
}

.metric {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 0 0 0.5rem 0;
}

.title {
  font-size: 2rem;
  line-height: 1rem;
  padding: 0 0 0 0.25rem;
}

.value {
  font-size: 6rem;
  line-height: 4rem;
  margin: 0;
}

.timestamp {
  margin: 0.5rem 0 0 0.25rem;
  /* TODO: pick nicer color */
  color: grey;
}

.error {
  color: #ff3333;
}

/* TODO: pick nicer colors */
.co2-low {
  color: green;
}

.co2-medium {
  color: inherit;
}

.co2-high {
  color: #ff3333;
}
