.header {
  width: 100%;
  height: 64px;
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.settings {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 12px;
}
.title {
  display: inline-block;
  flex: 1;
}
