.good {
  color: #74bb5a;
}

.medium {
  color: #e7c346;
}

.bad {
  color: #f46a6a;
}

.metric {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 0 0.5rem 0;
  height: 100%;
  justify-content: center;
  position: relative;
}

.title {
  font-size: 2rem;
  line-height: 1rem;
  padding: 0 0 0 0.25rem;
  position: absolute;
  top: 24px;
  text-align: center;
  width: 100%;
}

.value {
  font-size: 6rem;
  line-height: 4rem;
  margin: 0;
}

.timestamp {
  margin: 0.5rem 0 0 0.25rem;
  /* TODO: pick nicer color */
  color: grey;
}

.error {
  color: #ff3333;
}

.center-text {
  text-align: center;
  width: 100%;
}
